* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.container {
  height: 100vh;
  padding: 10rem;
}
.transition-up {
  animation: textTransition 0.4s;
}
.main {
  background-color: #f0e8cf;
}
.double {
  background-color: #f7f6f2;
}
.triple {
  background-color: #181818;
}
#sec-2 {
  background-color: #f7f6f2;
}


h1 {
 font-family: 'Shadows Into Light', cursive;
  color: #757474;
  font-size: 110px;
  text-align: center;
}

h2 {
 font-family: 'Shadows Into Light', cursive;
  color: #817d7d;
  font-size: 90px;
  text-align: center;
}

h3 {
 font-family: 'Shadows Into Light', cursive;
  color: #000000;
  font-size: 50px;
  text-align: center;
}

h4 {
 font-family: 'Shadows Into Light', cursive;
  color: #f74c25;
  font-size: 110px;
  text-align: center;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d4d1d1;
  font-size: 15px;
  text-align: center;
}

h6 {
  text-align: center;
  color: #eceaea;
  font-weight: 10;
font-family: 'Playfair Display', serif;  font-size: 1.5rem;
  margin: 3%;
  font-size: 45px;
  line-height: 44px;
  margin-top: 20px;
}

body {
  font-family: Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}


section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}


