/* style.css */

body {
    font-family: 'Inter', sans-serif;
    /* Changed background-color to a linear gradient with navy blue tones */
    background: linear-gradient(to bottom right, #030712, #1a202c, #2c3e50); /* Dark navy to a slightly lighter blue-gray */
    color: #fff; /* White text */
    min-height: 100vh; /* Ensure the gradient covers the full viewport height */
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}
